<div class="container-fluid p-4" style="background-color: rgba(167, 137, 216, 0.302);">
    <div class="container-fluid">
        <h1 style="color: rgb(25, 62, 97); font-family:'Comic Sans MS', 'Comic Sans', cursive;">Tour of Heroes</h1>
        <button type="button" class="btn btn-secondary btn-lg" routerLink='Dash'
            style="background-color: rgb(162, 174, 230); border-color: rgb(162, 174, 230); ">Dashboard</button>
        
        <button type="button" class="btn btn-secondary btn-lg" routerLink='Heroes'> Heroes </button>
    </div>
</div>