div{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    background-image: linear-gradient(135deg, rgba(255, 0, 0, 0), rgba(111, 122, 223, 0.097));
}

div::-webkit-scrollbar {
  width: 3px;
}
 
div::-webkit-scrollbar-thumb {
  background-color: rgba(69, 80, 158, 0.494);
}

div.arr{
    top: 8px;
    left: 8px;
    right: 8px;
    width: 98.8%;
    height: 18%;
    text-align: center;
    background-color: rgba(233, 84, 67, 0.152);
    color: rgb(77, 10, 10);
}

div.iz{
    font-size: 14px;
    left: 8px;
    bottom: 8px;
    width: 49%;
    height: 78%;
    background-color: rgba(40, 186, 40, 0.186);
    color: rgb(61, 55, 8);
}
div.der{
    font-size: 13px;
    
    background-color: rgba(83, 83, 237, 0.275);
    color: rgb(76, 15, 84);
}

body{

    /*background-image: linear-gradient(to right,rgba(255,0,0,0), rgba(50, 50, 141, 0.165));*/
    background-color: rgba(70, 70, 80, 0.124);
}

p.tf{
    font-size: 12px;
    font-style: italic;
}